# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.opendb
*.VC.db

# Unity packages
*.unitypackage
